{% extends "base.html" %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <div class="container">
        <div class="row">
            {% for seg_name, attribute in segments %}
                <div class="col-md-2 {% if attribute.source == 'cloud' %}bg-warning{% endif %}">
                    <a href="{{ url_for('instructions', seg_name=seg_name) }}">
                        {{ seg_name }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}