{% extends "base.html" %}

{% block app_content %}
    <h1>{{ macro_name }}</h1>
    <br>
    <table class="table table-bordered table-sm table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Label</th>
            <th scope="col">Dsp</th>
            <th scope="col">Length</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        {% for label_ref in symbol_table %}
            <tr>
                <td>
                    <pre>{{ label_ref.label }}</pre>
                </td>
                <td>
                    <pre>{{ label_ref.dsp }}</pre>
                </td>
                <td>
                    <pre>{{ label_ref.length }}</pre>
                </td>
                <td>
                    <pre>{{ label_ref.name }}</pre>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}