{% extends "base.html" %}

{% block app_content %}
    <h1>{{ test_data.name }} ({{ test_data.seg_name }})</h1>
    <br>
    <div class="row">
        <div class="col-md-6">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                {{ form.confirm(class="btn btn-primary btn-block text-center") }}
            </form>
        </div>
        <div class="col-md-6">
            <a class="btn btn-danger btn-block"
               href="{{ url_for('cancel_test_data') }}">
                Cancel Test Data Creation
            </a>
        </div>
    </div>
    <br>
    <h2>Output</h2>
    <p>At least one output is required.</p>
    {{ output_regs(test_data) }}
    <br>
    <a class="btn btn-block btn-success" href="{{ url_for('add_output_registers') }}">
        Add Output Registers
    </a>
    {{ output_fields(test_data) }}
    <br>
    <a class="btn btn-block btn-success" href="{{ url_for('search_output_fields') }}">
        Add Output Fields
    </a>
    <br>
    <h2>Input</h2>
    {{ input_fields(test_data) }}
    <br>
    <a class="btn btn-block btn-success" href="{{ url_for('search_input_fields') }}">
        Add Input Fields
    </a>
    {{ input_regs(test_data) }}
    <br>
    <a class="btn btn-block btn-success" href="{{ url_for('add_input_registers') }}">
        Add Input Registers
    </a>
    {{ input_pnr(test_data) }}
    <br>
    <a class="btn btn-block btn-success" href="{{ url_for('add_input_pnr') }}">
        Add PNR Elements
    </a>
    <br>
    <br>
{% endblock %}