{% extends "test_data_show.html" %}

{% block app_content %}
    <h1>{{ test_data.name }} ({{ test_data.seg_name }})</h1>
    <br>
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-primary btn-block text-center"
               href="{{ url_for('run_test_data', test_data_id=test_data.id) }}">
                Run {{ test_data.seg_name }}
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-success btn-block text-center"
               href="{{ url_for('copy_test_data', test_data_id=test_data.id) }}">
                Copy Test Data
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-warning btn-block text-center {{ test_data.class_display }}"
               href="{{ url_for('confirm_test_data', test_data_id=test_data.id) }}">
                Edit Test Data
            </a>
        </div>
        <div class="col-md-3">
            {% if test_data.class_display %}
                <a class="btn btn-danger btn-block text-center {{ test_data.class_display }}">
                    Delete Test Data
                </a>
            {% else %}
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    {{ form.delete(class="btn btn-danger btn-block text-center") }}
                </form>
            {% endif %}
        </div>
    </div>
    <br>
    {{ show_test_data(test_data, edit_mode=False) }}
    <br>
{% endblock %}