{% extends 'base.html' %}

{% block app_content %}
    <div class="row">
        <div class="col-md">
            <h3>{{ title }}</h3>
        </div>
        <div class="col-md text-right">
            <a class="btn btn-success text-right"
               href="{{ url_for('create_test_data') }}">
                <span class="oi oi-plus"> </span> Create Test Data
            </a>
        </div>
    </div>
    <br>
    <table id="test-data-list" class="table table-bordered table-hover ">
        <thead class="thead-dark">
        <tr>
            <th class="text-center d-none d-md-table-cell" scope="col">No.</th>
            <th class="" scope="col">Name</th>
            <th class="text-center d-none d-md-table-cell" scope="col">Segment</th>
            <th class="text-center" scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for test_data in test_data_list %}
            <tr>
                <td class="text-center d-none d-md-table-cell">{{ loop.index }}</td>
                <td class="">{{ test_data.name }}</td>
                <td class="text-center d-none d-md-table-cell">{{ test_data.seg_name }}</td>
                <td class="text-center">
                    <a class="btn btn-primary btn-block"
                       href="{{ url_for('get_test_data', test_data_id=test_data.id) }}"
                       title="Open Test Data">
                        <span class="oi oi-target"></span> Open
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $("#test-data-list").DataTable({
                paging: false
            });
        });
    </script>
{% endblock %}