{% extends "quick_form.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-md-8">
            <h1>{{ title }}</h1>
        </div>
        {% if test_data_id %}
            <div class="col-md-4">
                <a class="btn btn-danger btn-block text-center"
                   href="{{ url_for('confirm_test_data', test_data_id=test_data_id) }}">
                    Cancel Edits
                </a>
            </div>
        {% endif %}
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            {{ quick_form(form) }}
        </div>
    </div>
{% endblock %}