{% extends "test_data_show.html" %}

{% block app_content %}
    <h1>Execution Result</h1>
    <br>
    <div class="row">
        <div class="col-md">
            <a class="btn btn-primary" href="{{ url_for('get_test_data', test_data_id=test_data.id) }}">
                {{ test_data.name }}
            </a>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md">
            <div class="list-group list-group-item list-group-item-secondary">
                General Summary
            </div>
        </div>
    </div>
    <br>
    <table class="table table-bordered table-sm table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center">No</th>
            <th scope="col" class="text-center">Field</th>
            <th scope="col" class="text-center">Pnr</th>
            <th scope="col" class="text-center">DF</th>
            <th scope="col" class="text-center">File</th>
            <th scope="col" class="text-center">End</th>
            <th scope="col" class="text-center">Dumps</th>
            <th scope="col" class="text-center">Message</th>

        </tr>
        </thead>
        <tbody>
        {% for output in test_data.outputs %}
            <tr>
                <th scope="row" class="text-center">{{ loop.index }}</th>
                <th scope="row" class="text-center">{{ output.variation.core }}</th>
                <th scope="row" class="text-center">{{ output.variation.pnr }}</th>
                <th scope="row" class="text-center">{{ output.variation.tpfdf }}</th>
                <th scope="row" class="text-center">{{ output.variation.file }}</th>
                <td class="text-center"><kbd>{{ output.last_line }}</kbd></td>
                <td class="text-center">
                    {% if output.dumps %}
                        {% for dump in output.dumps %}
                            <kbd>{{ dump }}</kbd>
                        {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if output.messages %}
                        {% for message in output.messages %}
                            <kbd>{{ message }}</kbd>
                        {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if test_data.fields %}
        <br>
        <div class="row">
            <div class="col-md">
                <div class="list-group list-group-item list-group-item-secondary">
                    Field Summary
                </div>
            </div>
        </div>
        <br>
        <table class="table table-bordered table-sm table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">No</th>
                <th scope="col" class="text-center">Field</th>
                <th scope="col" class="text-center">Pnr</th>
                <th scope="col" class="text-center">DF</th>
                <th scope="col" class="text-center">File</th>
                {% for field in test_data.fields %}
                    <th scope="col" class="text-center">{{ field }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for output in test_data.outputs %}
                <tr>
                    <th scope="row" class="text-center">{{ loop.index }}</th>
                    <th scope="row" class="text-center">{{ output.variation.core }}</th>
                    <th scope="row" class="text-center">{{ output.variation.pnr }}</th>
                    <th scope="row" class="text-center">{{ output.variation.tpfdf }}</th>
                    <th scope="row" class="text-center">{{ output.variation.file }}</th>
                    {% for core in output.cores %}
                        {% for field_data in core.field_data %}
                            <td class="text-center">
                                <kbd>{{ field_data.data[0] }}</kbd>
                                {% if 9 < field_data.data[1] < 256 %}
                                    <kbd> ({{ field_data.data[1] }})</kbd>
                                {% endif %}
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {{ show_test_data(test_data, edit_mode=False, output=False) }}
    {% if test_data.outputs[0].debug %}
        <br>
        <div class="list-group list-group-item list-group-item-secondary">Debug</div>
        <br>
        {% for output in test_data.outputs %}
            <div class="row">
                <div class="col-md">
                    <div class="list-group list-group-item list-group-item-light">
                        Variation - Field={{ output.variation.core }} PNR={{ output.variation.pnr }}
                        TPFDF={{ output.variation.tpfdf }} File={{ output.variation.file }}
                    </div>
                </div>
            </div>

            {% for trace in output.debug %}
                <div class="row">
                    <div class="col-md-2 align-middle">
                        <kbd>{{ trace.hits }}</kbd>-{{ trace.label }}
                    </div>
                    <div class="col-md-2">
                        {% for label, hits in trace.next_hits.items() %}
                            {% if hits %}
                                <div class="row">
                                    <div class="col-md">
                                        <kbd>{{ hits }}</kbd>-{{ label }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-8 align-middle">
                        {{ trace.command }} {{ trace.operands }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

{% endblock %}