{% extends "test_data_show.html" %}

{% block app_content %}
    <h1>{{ test_data.name }} ({{ test_data.seg_name }})</h1>
    <br>
    <div class="row">
        <div class="col-md-6">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                {{ form.confirm(class="btn btn-primary btn-block text-center") }}
            </form>
        </div>
        <div class="col-md-6">
            <a class="btn btn-danger btn-block"
               href="{{ url_for('get_all_test_data') }}">
                Cancel
            </a>
        </div>
    </div>
    {{ show_test_data(test_data, edit_mode=True) }}
    <br>
{% endblock %}