{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        {{ title }} - TPF Analyzer
    {% else %}
        TPF Analyzer
    {% endif %}
{% endblock %}

{% block navbar %}
    <div class="container">
        <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
            <a class="navbar-brand" href="{{ url_for('home') }}">TA</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item active nav-link" href="{{ url_for('segments') }}">Segments</a>
                    <a class="nav-item active nav-link" href="{{ url_for('macros') }}">Macros</a>
                    <a class="nav-item active nav-link" href="{{ url_for('create_test_data') }}">Test Data</a>
                </div>
                <div class="navbar-nav ml-auto">
                    {% if current_user.is_anonymous %}
                        <a class="nav-item active nav-link" href="{{ url_for('login') }}">Login</a>
                    {% else %}
                        <a class="nav-item active nav-link" href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br>
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}