{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        {{ title }} - TPF Analyzer
    {% else %}
        TPF Analyzer
    {% endif %}
{% endblock %}

{% block navbar %}
    <div class="container">
        <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
            <a class="navbar-brand" href="{{ url_for('home') }}">TA</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item active nav-link" href="{{ url_for('segments') }}">Segments</a>
                    <a class="nav-item active nav-link" href="{{ url_for('macros') }}">Macros</a>
                    {% if session.test_data %}
                        <a class="nav-item active nav-link" href="{{ url_for('confirm_test_data') }}">Test Data</a>
                    {% else %}
                        <a class="nav-item active nav-link" href="{{ url_for('get_all_test_data') }}">Test Data</a>
                    {% endif %}
                </div>
                <div class="navbar-nav ml-auto">
                    {% if current_user.is_anonymous %}
                        <a class="nav-item active nav-link" href="{{ url_for('login') }}">Login</a>
                    {% else %}
                        <a class="nav-item active nav-link" href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br>
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}

{% macro form_group(field) -%}
    <div class="form-group required">
        <label for="{{ field.id }}" class="form-control-label">{{ field.label }}</label>
        {% if field.errors %}
            {{ field(class_="form-control is-invalid") }}
        {% else %}
            {{ field(class_="form-control") }}
        {% endif %}
        {% if field.errors %}
            <div class="invalid-feedback">
                {{ field.errors[0] }}
            </div>
        {% endif %}
    </div>
{% endmacro %}


{% macro quick_form(form) -%}
    <form class="form" method="POST">
        {% for field in form %}
            {% if field.type in ('HiddenField', 'CSRFTokenField') %}
                {{ field() }}
            {% elif field.type == 'SubmitField' %}
                <br>
                {{ field(class_="btn btn-primary") }}
            {% elif field.type =='BooleanField' %}
                <div class="form-check">
                    <label class="form-check-label">
                        {{ field(class_="form-check-input") }} {{ field.label.text }}
                    </label>
                </div>
            {% else %}
                {{ form_group(field) }}
            {% endif %}
        {% endfor %}
    </form>
{% endmacro %}

{% macro output_regs(test_data) -%}
    <br>
    <div class="list-group list-group-item list-group-item-secondary">Output - Registers</div>
    {% if test_data.outputs and test_data.outputs.regs %}
        <br>
        <div class="row">
            {% for reg in test_data.outputs.regs %}
                <div class="col-md-1 text-center">{{ reg }}</div>
            {% endfor %}
        </div>
    {% endif %}
{%- endmacro %}

{% macro output_fields(test_data) -%}
    <br>
    <div class="list-group list-group-item list-group-item-secondary">Output - Fields</div>
    {% if test_data.outputs and test_data.outputs.cores %}
        {% for core in test_data.outputs.cores %}
            <br>
            <div class="row">
                <div class="col-md-2 text-center font-weight-bold">
                    {{ core.macro_name }}
                    {% if core.base_reg != 'R0' %}
                        &nbsp;({{ core.base_reg }})
                    {% endif %}
                </div>
                {% for field_byte in core.field_bytes %}
                    <div class="col-md-2 text-center">{{ field_byte.field }} ({{ field_byte.length }})</div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
{%- endmacro %}


{% macro input_fields(test_data) -%}
    <br>
    <div class="list-group list-group-item list-group-item-secondary">Input - Fields</div>
    {% if test_data.cores %}
        {% for core in test_data.cores %}
            <br>
            <div class="row">
                <div class="col-md-2 text-center font-weight-bold">
                    {{ core.macro_name }}
                </div>
            </div>
            {% for field_byte in core.field_bytes %}
                <div class="row">
                    <div class="col-md-3 text-center">
                        <pre>{{ field_byte.field }}</pre>
                    </div>
                    {% for value in field_byte.data %}
                        <div class="col-md-3 text-center"><kbd>{{ value }}</kbd></div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
{%- endmacro %}


{% macro input_regs(test_data) -%}
    <br>
    <div class="list-group list-group-item list-group-item-secondary">Input - Registers</div>
    {% if test_data.regs %}
        <br>
        {% for reg, values in test_data.regs.items() %}
            <div class="row">
                <div class="col-md-3 text-center">
                    <pre>{{ reg }}</pre>
                </div>
                {% for value in values %}
                    <div class="col-md-3 text-center"><kbd>{{ value }}</kbd></div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
{%- endmacro %}


{% macro input_pnr(test_data) -%}
    <br>
    <div class="list-group list-group-item list-group-item-secondary">Input - PNR</div>
    {% if test_data.pnr %}
        {% for pnr in test_data.pnr %}
            <br>
            <div class="row">
                <div class="col-md-4 text-center font-weight-bold">
                    {{ pnr.locator }}
                </div>
                <div class="col-md-4 text-center font-weight-bold">
                    {{ pnr.key.upper() }}
                </div>
                <div class="col-md-4 text-center font-weight-bold">
                    {{ pnr.data }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{%- endmacro %}
