{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ test_data.name }} ({{ test_data.seg_name }})</h1>
    <br>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary btn-block text-center"
               href="{{ url_for('test_data_run', test_data_id=test_data.id) }}">
                Run {{ test_data.seg_name }}
            </a>
        </div>
        <div class="col-md-6">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                {{ form.delete(class="btn btn-danger btn-block text-center") }}
            </form>
        </div>
    </div>
    <br>
    <h2>Output</h2>
    <div class="list-group list-group-item list-group-item-secondary">Output - Registers</div>
    {% if test_data.outputs and test_data.outputs.regs %}
        <br>
        <div class="row">
            {% for reg in test_data.outputs.regs %}
                <div class="col-md-1 text-center">{{ reg }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <br>
    <div class="list-group list-group-item list-group-item-secondary">Output - Fields</div>
    {% if test_data.outputs and test_data.outputs.cores %}
        {% for core in test_data.outputs.cores %}
            <br>
            <div class="row">
                <div class="col-md-2 text-center font-weight-bold">
                    {{ core.macro_name }}{% if core.base_reg != 'R0' %} (core.base_reg){% endif %}
                </div>
                {% for field_byte in core.field_bytes %}
                    <div class="col-md-2 text-center">
                        {{ field_byte.field }} ({{ field_byte.length }})
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}